* {
    font-family: Poppins, sans-serif;
    font-style: normal;
    /* font-weight: normal; Este pus in clip dar strica lucrurile cand vreau sa pun bold :))*/
}
body > section{
    margin: 75px auto;
}
body > section:nth-child(2){
    margin-top: 25px;
}
body > section:last-child{
    margin-top: 75px;
    margin-bottom: 0;
}

.bold{
    font-weight:bold;
}
.nav{
    /* height: 80px; */
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}
.row-centered{
    justify-content: center;
    align-items: center;
}
.content-container{
    max-width: 1120px;
    justify-content: center;
    padding: 0 100px;
}
#app-logo{
    height: 40px;
    margin-right: 16px;
}

#app-title{
    font-weight: bold;
    font-size: 1.87em;
    line-height: 20px;
    color: #173A56;
}
.nav-bar-wrapper{
    width: 100%;
    justify-content: space-between;
}
.nav-links-container > a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    line-height: 28px;
    color: #22343D;
    margin: 0 10px;

}

.primary-button{
    background-color: #02897A;
    border-radius: 8px;
    height: 43px;
    font-size: 1em;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 25px;
     /* white-space: pre; -ASA ERA IN VIDEO LA MINE NU FUNCTIONEAZA ASA CA AM PUS NOWRAP*/
    white-space: nowrap;
}

.button-outlined{
    background-color: #FFFFFF;
    color: #173A56;
    border: #BCD0E5 1px solid;
    /* white-space: pre; */
    /* white-space: nowrap; */
}

.button-link{
    color: #02897A;
    font-size: 1em;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    background-color: white;
    text-decoration-line: underline;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* white-space: pre;  */
    white-space: nowrap;
}

.buttons-nav{
    margin: 0 12px;
}
.switch-theme-button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #F3F3F3;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-buttons-container{
    justify-content: flex-end;
}

.main-header{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;

}
.content-left-col, .content-right-col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.subtitle{
    font-size: 1.13em;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color:#22343D ;
}

.first-section-right-col{
    width: 100%;
    height: auto;
    pointer-events: none;
}
#play-icon{
    width: 20px;
    height: 17px;
    top: 1.5px;
    left: 17.5px; 
}

.button-link-margin{
    margin-left: 30px;
}
#menu-icon{
    width: 28px;
    height: 31px;
    cursor: pointer;
}
.menu-icon{
    display: none;
}
#menu-colapse{
    display: none;
} 

.section-3-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(./imagini/pag2-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;

}

.section-3-row > h2{
   font-weight: 700;
   font-size: 2em;
   line-height: 48px;
   text-align: center;
   color: #22343D;
   margin-bottom: 0;
   width: 45%;
}

.section-row-4-cols > h3{
    font-size: 1.38em;
    font-weight: 600;
    line-height: 33px;
}

.section-row-4-cols > p{
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
    padding-right: 50px; 
}
.section-row-4-cols-icon{
    width: 50px;
    height: 50px;
}

/* Afisarea celor patru coloane din pag.2 facuta cu Flex (in video e cu Grid) 
.section-row-4-cols{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 50px auto 40px auto;

}

.section-row-4-cols-item-1 , .section-row-4-cols-item-2 , .section-row-4-cols-item-3 , .section-row-4-cols-item-4 {
width: 240px;
height: 178px;
} 
*/

.section-row-4-cols{
    display: grid;
    grid-template-areas:
    'grid-col-1 grid-col-2 grid-col-3 grid-col-4';
    gap: 30px;
    /* margin: 50px auto 40px auto; */
    color: #22343D;
}

.section-row-4-cols-item-1{
    grid-area: grid-col-1;
    /* width: 240px;
    height: 178px; */
}
.section-row-4-cols-item-2{
    grid-area: grid-col-2;
    /* width: 240px;
    height: 178px; */
}
.section-row-4-cols-item-3{
    grid-area: grid-col-3;
    /* width: 240px;
    height: 178px; */
}
.section-row-4-cols-item-4{
    grid-area: grid-col-4;
    /* width: 240px;
    height: 178px; */
} 

.section-row-4-cols > div{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: flex-start;
}


.content-left-col-pg3 , .content-right-col-pg3 {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-left-col-pg3 > h5{
    font-size: 1em;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: rgba(34, 52, 61, 1);
}

.content-left-col-pg3 > h2{
    font-size: 2em;
    line-height: 48px;
    font-weight: 700;
    margin: 8px 0;
    padding: 0;
    color: rgba(34, 52, 61, 1);
}

.content-left-col-pg3 > p{
    font-size: 1em;
    line-height: 26px;
    font-weight: 400;
    width: 85%;
    color: rgba(34, 52, 61, 1);
    
}
.content-left-col-pg3 div p{
    padding-right: 60px;
} 


.section-2-col-item{
    padding: 10px ;
}
.section-4-icon{
    width: 35px;
    height: 35px;
    margin-right: 30px;
}
.with-gap-pg3{
    gap: 70px;
}
.with-gap{
    gap: 70px;
}

.section-3-row-pag6{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url(./imagini/Bg-pag6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    /* height: 60vh; */
    text-align: center;
    color: rgba(34, 52, 61, 1);

}
.section-3-row-pag6 h2{
    font-size: 2em;
    line-height: 48px;
    font-weight: 700;
}

.section-3-row-pag6 p{
    width: 50%;
    font-size: 1em;
    line-height: 26px;
    font-weight: 500;
}

.avatar-icon{
    width: 98px;
    height: 98px;
}

.chat-box-left{
background-image: url(./imagini/chat-box-left.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: auto;
text-wrap: nowrap;
margin-left: 20px;
text-align: center;
color: rgba(47, 40, 30, 1);

}

.chat-box-right{
background-image: url(./imagini/chat-box-right.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: auto;
text-wrap: nowrap;
margin-right: 20px;
text-align: center;
color: rgb(47, 30, 30)
}

.chat-box-wrapper{
    flex-direction: row-reverse;
}

.row-space{
    gap: 60px;
    width: 80%;
    justify-content: center;
    align-items: end;
    margin-bottom: 30px;
    margin-right: 0;
    
}
.column{
    display: flex;
    flex-direction: column;
}

.section-col-6{
    color: rgba(34, 52, 61, 1);
}

.border-radius{
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    width: 348px;
    height: 359px;
}


.section-col-6 h3#text-green {
    color: rgba(2, 137, 122, 1);
}
.some-padding{
    padding: 20px;
}
.row-space-between{
    justify-content: space-between;
    align-items: center;
}

.pag7-img{
    width: 100%;
}

.carusel-icon{
    width: 68px;
    height: 16px;
    margin-top: 50px;
}

.pag8-column{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.pag8-column-bg-light{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(34, 52, 61, 1);
}

.pag8-column-bg-dark{
    background-color: rgba(2, 137, 122, 1);
    color: rgba(255, 255, 255, 1);
}
.pag8-column > h2{
    font-size: 2.13em;
    line-height: 51px;
    font-weight: 700;
    margin-bottom: 0;
}
.pag8-column > h4{
    font-size: 1.5em;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.pag8-column > p{
    font-size: 1em;
    line-height: 24px;
    font-weight: 500;
}
.pag8-column .price {
    font-size: 4.75em;
    font-weight: 700;
    color: rgba(2, 137, 122, 1);
    margin: 0.5em;
    
}

.supsub {
    display: inline-block;
    margin-left: 10px;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
}

.supsub sub {
    font-size: 16px;
    font-weight: 400;
    color: rgba(175, 175, 175, 1);
}

.supsub sup {
    bottom: 10px;
    left: -35px;
    font-size: 24px;
}
    
.pag8-column .price-dark{
    font-size: 4.75em;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0.5em;
}
.pag8-column .price-dark .supsub sub{
    color: rgba(224, 224, 224, 1);
}

.border-radius-2{
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 8px;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
width: 322px;
height: 456px;
text-align: center;
}

.green-button{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(2, 137, 122, 1);
    border: #BCD0E5 1px solid;
}

.border-radius-3{
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 5px;
    width: 327px;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    color: rgba(115, 115, 115, 1);

}

.star-icon{
    width: 106.4px;
    height: 18.35px;
    top: 28px;
    left: 28px;
}

.client-icon{
    width: 145px;
    height: 50px;
    align-items: start;
    justify-content: start;
}

.image{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sometext1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-wrap: nowrap;
}

.sometext1 > h6{
    font-size: 1em;
    line-height: 24px;
    font-weight: 600;
    color: rgba(2, 137, 122, 1);
    margin: 0;
}

.sometext1 > p{
    font-size: 0.88em;
    line-height: 24px;
    font-weight: 500;
    color: rgba(37, 43, 66, 1);
    margin: 0;
}

.card{
    background-color: rgba(2, 137, 122, 1);
    color: rgba(255, 255, 255, 1);
    width: 968px;
    height: 345px;
    border-radius: 32px;
    margin: auto;
}

.card-section-left{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 70px ;

}

.card-section-left > h4{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
}

.card-section-right{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.card-image{
    width: 100%;
}

.section-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: rgba(34, 52, 61, 1);
}
.row-space-between-footer{
    justify-content: space-between;
    align-items: start;
}
.declaration{
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#footer-logo{
    width: 32px;
    height: 29px;
    margin-bottom: 10px;
}

#footer-title-logo{
    width: 114px;
    height: 21px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.footer-icon{
    width: 40px;
    height: 40px;
    margin: auto;
}

.section-footer h5{
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    padding: 3px;
}

.section-footer p{
    font-size: 1em;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
    padding: 3px;
}

.footer-last-section{
    width: 30%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    
}
.footer-last-section h5{
    padding-right: 50px;
}
#section-form{
    width: 100%;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

@media screen and (max-width: 890px) {
    .menu-icon{
        display: flex;
    }
  
    .nav-bar-wrapper > .nav-bar-buttons-container{
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: white;
        box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow-y: hidden;
        transition: all 0.3s ease-in-out;
    }
    .nav-bar-buttons-container > .nav-links-container > a{
        display: block;
        width: 100%;
        padding: 5px 0;
       
    }

    .nav-bar-buttons-container > .action-buttons-wrapper{
        padding: 10px 0;
        flex-direction: column;
    }
    .nav-bar-buttons-container > .action-buttons-wrapper > button{
        margin: 5px;
    }
    .nav-bar-buttons-container > .nav-links-container > a:hover{
        text-decoration: underline;
    }
    nav > #menu-colapse:not(:checked) ~ .nav-bar-wrapper > .nav-bar-buttons-container{
        height: 0;
    }
    nav > #menu-colapse:checked ~ .nav-bar-wrapper > .nav-bar-buttons-container{
        max-height: 100vh;
        height: auto;
        padding: 20px 10px;
    } 

    .section-col-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .section-col-6-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
.text-section{
    padding-top: 30px;
}

    .section-2-col-pg4{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-top: 30px;
    }

    .gap{
        gap: 0;
    }
    .border-radius{
        border: none;
    }
    .carusel-icon{
        display: none;
    }
    .some-padding{
        padding: 0;
    }
    .pag8-column{
        text-align: center;
    }

    .card{
        width: 371px;
        height: 688px;
    }

    .card-section-left{
        width: auto;
        align-items: center;
        margin: auto;
        text-align: center;
        padding: 20px;

    }

    .card-section-right{
        width: auto;
    }
    .footer-last-section{
        width: 100%;
        align-items: center;
        
    }
    .footer-last-section h5{
        padding: 0;
    }
    .declaration{
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 850px){
    .section-row-4-cols{
        grid-template-areas:
        'grid-col-1 grid-col-2' 
        'grid-col-3 grid-col-4'
        ;
        gap: 10px;
        margin: 0; 
    }
    .section-row-4-cols > div{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    .section-3-row{
        background-position: bottom;
        width: 100%;
        height: 100%;
}
}

@media screen and (max-width: 600px) {

.section-2-col{
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}
.section-2-col-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.section-2-col-item-left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.section-row-4-cols{
    grid-template-areas:
    'grid-col-1' 
    'grid-col-2' 
    'grid-col-3' 
    'grid-col-4'
    ;
    gap: 10px;
    
}
.section-row-4-cols > div{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.content-left-col-pg3{
padding-top: 50px;
align-items: start;
text-align: left;

}

}

@media screen and (max-width: 450px) {
    body{
            margin: 0;
        }
    .content-container{
        padding: 0 30px;
    }

   
    .nav{
        
        box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
        width: 100%;
    
    }

    .section-3-row{
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .section-3-row > h2 {
        width: auto;
    }

    .section-row-4-cols{
        padding: 30px 80px;
    }
    .with-gap-pg3{
        gap: 0;
    }

    .with-gap{
        gap: 50px;
    }

    .section-3-row-pag6{
        width: auto;
    }
    .section-3-row-pag6 p{
        width: auto;
    }
   #column2 {
        flex-direction: column-reverse;
    }
    .row-space{
        gap: 0;
        padding: 20px;
    }
    .pag8-column > p{
        padding: 0 20px;
    }

    .border-radius-3{
        width: auto;
    }

}